<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="2P2B"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.168.122.1"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="26"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="Spec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="books, wants, library, pc, reserves"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="1TypeInvariant"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="0Termination"/>
        <listEntry value="1Liveness"/>
    </listAttribute>
    <intAttribute key="modelEditorOpenTabs" value="2"/>
    <stringAttribute key="modelExpressionEval" value=""/>
    <stringAttribute key="modelParameterActionConstraint" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="NumCopies;;1..1;0;0"/>
        <listEntry value="People;;{p1, p2};1;0"/>
        <listEntry value="Books;;{b1, b2};1;0"/>
    </listAttribute>
    <stringAttribute key="modelParameterContraint" value="\A p \in People: Cardinality(wants[p]) &lt;= 1"/>
    <listAttribute key="modelParameterDefinitions"/>
    <stringAttribute key="modelParameterModelValues" value="{}"/>
    <stringAttribute key="modelParameterNewDefinitions" value=""/>
    <intAttribute key="numberOfWorkers" value="4"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="library"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
